<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-900">
<head>
    <title>Reset Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full">

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-white">Reset Password</h2>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        
        <% if (error_msg) { %>
            <div class="mb-4 p-4 text-sm text-red-800 rounded-lg bg-red-500/20" role="alert">
                <%= error_msg %>
            </div>
        <% } %>

        <p class="text-sm text-gray-400 mb-6">
            Enter and confirm your new password below.
        </p>

        <form action="/reset/<%= token %>" method="POST" class="space-y-6">
            
            <div>
                <label for="password" class="block text-sm/6 font-medium text-gray-100">New Password</label>
                <div class="mt-2">
                    <input type="password" id="password" name="password" placeholder="Enter New Password" required
                           class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                </div>
            </div>

             <div>
                <label for="confirm" class="block text-sm/6 font-medium text-gray-100">Confirm Password</label>
                <div class="mt-2">
                    <input type="password" id="confirm" name="confirm" placeholder="Confirm New Password" required
                           class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                </div>
            </div>

            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                    Reset Password
                </button>
            </div>
        </form>
      </div>
    </div>
</body>
</html>
